#skills{
    width: 80vw;
    height: 50vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 20%;
    height: 90%;
    /* border: 2px solid black; */
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 2vw;
    background-color: rgba(128, 128, 128, 0.255);
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.card:hover{
    background-color: rgba(128, 128, 128, 0.5);
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.skillsIcon{
    width: 48px;
    height: 48px;
    margin: 0.5rem;
}